# Ignore build artifacts, logs, and config files in language stats
build/* linguist-vendored
dist/* linguist-vendored
logs/* linguist-generated
*.txt linguist-detectable=false
*.json linguist-detectable=false
*.spec linguist-detectable=false
